<form *ngIf="document" #form="ngForm" (ngSubmit)="update()" class="flex flex-col h-full document">
  <div class="px-10 py-4 bg-gray-100 shadow-md">
    <div class="container mx-auto flex items-center gap-2 h-7">
      <h1 routerLink="/documents" class="cursor-pointer text-xl">
        Documents
      </h1>
      <i class="pi pi-chevron-right"></i>

      <input type="text" name="title" pInputText [(ngModel)]="document.name" placeholder="Title" required
        class="flex-grow p-inputtext-lg" style="padding: 0.375rem 0.5rem;" />

      <button pButton type="button" label="Cancel" icon="pi pi-chevron-left"
        class="p-button-sm p-button-text p-button-secondary" (click)="cancel()">
      </button>
      <button pButton type="submit" label="Update" icon="pi pi-check" class="p-button-sm" [disabled]="form.invalid">
      </button>
    </div>
  </div>

  <div class="flex-grow container mx-auto py-10 grid grid-cols-3 gap-4">
    <div class="flex flex-col items-stretch p-2 border gap-1 select-none">
      <p-chips name="tags" [(ngModel)]="document.tags" separator="," placeholder="Tags" styleClass="w-full"></p-chips>
      <span class="text-gray-400 text-xs">
        separated by comma
      </span>

      <span class="my-1"></span>

      <span class="flex items-center">
        <span class="text-xl font-bold">Sections</span>
      </span>

      <hr class="my-1" />

      <div class="flex-grow flex flex-col gap-1">
        <div *ngFor="let section of document.sections; let i = index" class="flex items-center">
          <span [ngStyle]="{ width: section.level + 'rem' }"></span>

          <input [id]="'outline-title-' + i" type="text" [name]="'outline-' + i" pInputText [(ngModel)]="section.title"
            autocomplete="off" class="p-inputtext-sm flex-grow mx-1" style="padding: 0.25rem 0.5rem;"
            (keydown)="manageSections(section, $event, i)" (focus)="locate(section)" />
        </div>
      </div>

      <hr class="my-1" />

      <span class="text-gray-400 text-xs flex items-center justify-center -my-1">
        <span class="font-bold">alt + ←→</span>
        <span class="ml-1 italic bg-gray-200 shadow-inner px-1 rounded-md">
          indent
        </span>
        <span class="mx-1">/</span>
        <span class="font-bold">alt + ⌫</span>
        <span class="ml-1 italic bg-gray-200 shadow-inner px-1 rounded-md">
          remove
        </span>
        <span class="mx-1">/</span>
        <span class="font-bold">↑↓</span>
        <span class="ml-1 italic bg-gray-200 shadow-inner px-1 rounded-md">
          navigate
        </span>
      </span>
    </div>

    <div class="col-span-2 h-full">
      <iframe #viewer src="/assets/pdf.js/web/viewer.html" class="w-full h-full" (load)="onDocumentLoad($event)">
      </iframe>
    </div>
  </div>
</form>