<div class="flex flex-col h-full">
  <div class="p-2 overflow-y-auto flex flex-col">
    <span class="font-bold">Paste a pdf-reader (document) link in this input</span>
    <span class="text-xs ml-2 my-1">e.g.: 'http://localhost:4200/pdf-reader/647de3be451dcad88a4b726a'</span>
    <input type="text" pInputText [(ngModel)]="iframeUrl" (ngModelChange)="reloadIframe()"
      placeholder="PDF-Document Link" required />
    <span class="font-bold mt-2 mb-1">IFrame Communication Messages:</span>
    <div class="flex gap-2">
      <div class="w-1/2 flex flex-col gap-2">
        <textarea pInputTextarea [(ngModel)]="script" placeholder="JS Script ..."
          class="flex-grow p-inputtext-sm"></textarea>
        <button pButton type="button" label="Execute" icon="pi pi-flash" class="p-button-sm" (click)="execute()">
        </button>
      </div>

      <div class="w-1/2 h-64 overflow-auto">
        <div *ngFor="let message of messages; let i = index" [ngClass]="{ 'bg-gray-100': i % 2 === 0 }">
          <span class="text-xs font-mono">{{ messages.length - i }}: {{ message }}</span>
        </div>
      </div>
    </div>
  </div>

  <iframe #iframe [src]="url" class="flex-grow"></iframe>
</div>