<form #form="ngForm" (ngSubmit)="login()" class="h-full flex justify-center items-center">
  <div class="flex flex-col w-80 -mt-32 gap-2">
    <img src="./assets/logo.png" class="w-24 mx-auto" />
    <h3 class="text-2xl text-center">PDF Documents</h3>

    <h3 class="text-xl text-center text-gray-500 mb-2">Login</h3>

    <input name="email" type="text" pInputText [(ngModel)]="model.email" placeholder="Email address" required />
    <input name="password" type="password" pInputText type="password" [(ngModel)]="model.password"
      placeholder="Password" required minlength="6" />

    <button type="submit" pButton label="Login" [disabled]="!form.valid"></button>
  </div>
</form>