<div class="flex flex-col h-full pdf-document-reader">
  <div class="flex items-center">
    <p-dropdown *ngIf="pdfDocument" [(ngModel)]="entry" [options]="pdfDocument.outline" optionLabel="title"
      placeholder="Document Outline" [filter]="true" filterPlaceholder="Search titles"
      panelStyleClass="outline-dropdown" appendTo="body" emptyFilterMessage="No outline found"
      class="w-full p-inputtext-sm" (onChange)="scrollToEntry($event.value)">
      <ng-template let-entry pTemplate="selectedItem">
        <div class="flex items-center justify-center">
          {{ entry.title }}
        </div>
      </ng-template>
      <ng-template let-entry pTemplate="item">
        <div class="flex items-center px-4 py-0">
          <span class="flex-grow" [ngStyle]="{ 'margin-left': entry.level + 'rem' }">
            {{ entry.title }}
          </span>
          <span class="text-xs text-stone-400">p{{ entry.page }}</span>
        </div>
      </ng-template>
    </p-dropdown>
  </div>

  <iframe #iframe1 src="/assets/pdf.js/web/viewer.html" class="flex-grow" (load)="onDocumentLoad(iframe1, $event)">
  </iframe>
</div>