<div class="flex flex-col">
  <div class="px-10 py-4 bg-gray-100 shadow-md">
    <div class="container mx-auto flex items-center gap-2 h-7">
      <a routerLink="/pdf-documents" class="flex items-center gap-2">
        <img src="./assets/logo.png" class="w-8 mx-auto" />
        <h1 class="cursor-pointer text-xl">PDF Documents</h1>
      </a>

      <span class="flex-grow"></span>

      <app-user-auth-ctrl></app-user-auth-ctrl>
    </div>
  </div>

  <div class="container mx-auto my-10 border shadow-md">
    <p-table #table [value]="pdfDocuments" styleClass="p-datatable-striped">
      <ng-template pTemplate="caption">
        <div class="table-header flex items-center gap-1">
          <span class="text-2xl">
            Documents
          </span>

          <span class="flex-grow"></span>

          <button pButton type="button" [label]="includeArchives ? 'Show Archives' : 'Hide Archives'"
            class="p-button-sm p-button-outlined" [ngClass]="{ 'p-button-plain': !includeArchives }"
            (click)="includeArchives = !includeArchives; reload();">
          </button>

          <button pButton type="button" label="New Document" icon="pi pi-plus" class="p-button-sm" (click)="create()">
          </button>

          <span class="p-input-icon-right">
            <input pInputText type="text" (input)="filter(table, $event)" placeholder="Search" class="p-inputtext-sm" />
            <i class="pi pi-search"></i>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" class="text-center">
            <span>Name</span>
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="modified_at" class="text-center w-64">
            <span>Modified at</span>
            <p-sortIcon field="modified_at"></p-sortIcon>
          </th>
          <th class="w-16">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3">
            <div class="flex items-center justify-center">
              <span class="text-gray-500">empty list</span>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pdfDocument>
        <tr [ngClass]="{ 'line-through decoration-gray-400': pdfDocument.archived }">
          <td [ngClass]="{ 'text-gray-400': pdfDocument.archived }">
            <div class="flex items-center">
              <a [routerLink]="['/pdf-documents', pdfDocument.id]" class="font-bold">
                {{ pdfDocument.title || 'unnamed' }}
              </a>

              <span [routerLink]="['/pdf-reader', pdfDocument.id]" class="ml-2 cursor-pointer">
                <i class="pi pi-window-maximize" style="font-size: 0.75rem;"></i>
              </span>

              <span class="flex-grow"></span>

              <div>
                <span *ngFor="let tag of pdfDocument.tags" class="bg-gray-100 rounded-md mr-1 px-1">
                  {{ tag }}
                </span>
              </div>
            </div>
          </td>
          <td class="w-64" [ngClass]="{ 'text-gray-400': pdfDocument.archived }">
            {{pdfDocument.modified_at | date:'medium' }}
          </td>
          <td class="w-16" [ngClass]="{ 'text-gray-400': pdfDocument.archived }">
            <div class="flex items-center justify-center">
              <i class="pi pi-briefcase text-gray-400 hover:text-red-400 active:text-red-600 cursor-pointer"
                [title]="pdfDocument.archived ? 'Unarchive' : 'Archive'" (click)="toggleArchive(pdfDocument)"></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>