/* annotator styles */
.pdfjs-annotations {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 1;
  overflow: hidden;
  pointer-events: none;
  text-size-adjust: none;
  forced-color-adjust: none;
  transform-origin: center center;
  z-index: 5;
}

.pdfjs-annotation__rect {
  position: absolute;
  pointer-events: auto;
  border-radius: 5px;
  z-index: 5;
}

.pdfjs-annotation__bound {
  position: absolute;
  pointer-events: auto;
  border-radius: 5px;
  border: 1px dashed blue;
}

.pdfjs-annotation__highlight {
  background-color: var(--annotation-color);
  opacity: 0.5;
}

/* -- annotator popup styles */

.pdfjs-annotation-popup {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
}

.pdfjs-annotation-popup__container {
  position: absolute;
  pointer-events: auto;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  background: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  row-gap: 0.25rem;
  z-index: 7;
  min-width: 225px;
}

/* -- annotator popup row items styles */

.pdfjs-annotation-popup__annot-type-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.125rem;
  z-index: 1;
}

.pdfjs-annotation-popup__annot-type-btns button {
  flex-grow: 1;
}

.pdfjs-annotation-popup__annot-color-btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 0.125rem;
  z-index: 1;
}

.pdfjs-annotation-popup__annot-color-btns button {
  height: 0.75rem;
  border-width: 1px;
  flex-grow: 1;
}

.pdfjs-annotation-popup__annot-note {
  width: 100%;
}

/* -- annotation type styles -- */

.pdfjs-annotation__underline {
  border-radius: 0;
}

[data-rotation-degree="0"] .pdfjs-annotation__underline {
  border-bottom: 2px solid var(--annotation-color);
}

[data-rotation-degree="180"] .pdfjs-annotation__underline {
  border-top: 2px solid var(--annotation-color);
}

[data-rotation-degree="90"] .pdfjs-annotation__underline {
  border-left: 2px solid var(--annotation-color);
}

[data-rotation-degree="270"] .pdfjs-annotation__underline {
  border-right: 2px solid var(--annotation-color);
}

.pdfjs-annotation__linethrough::before {
  content: "";
  display: block;
  position: absolute;
}

[data-rotation-degree="0"] .pdfjs-annotation__linethrough::before,
[data-rotation-degree="180"] .pdfjs-annotation__linethrough::before {
  top: 50%;
  width: 100%;
  border-top: 2px solid var(--annotation-color);
}

[data-rotation-degree="90"] .pdfjs-annotation__linethrough::before,
[data-rotation-degree="270"] .pdfjs-annotation__linethrough::before {
  left: 50%;
  height: 100%;
  border-right: 2px solid var(--annotation-color);
}
