.pdfjs-annotations {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 1;
  overflow: hidden;
  pointer-events: none;
  text-size-adjust: none;
  forced-color-adjust: none;
  transform-origin: center center;
  z-index: 5;
}

.pdfjs-annotation__rect {
  position: absolute;
  pointer-events: auto;
  border-radius: 5px;
  z-index: 5;
}

.pdfjs-annotation__bound {
  position: absolute;
  pointer-events: auto;
  border-radius: 5px;
  border: 1px dashed blue;
}

.pdfjs-annotation__highlight {
  background-color: var(--annotation-color);
  opacity: 0.5;
}