.pdfjs-annotation__embed {
  position: absolute;
  pointer-events: auto;
  user-select: none;
  cursor: pointer;
  z-index: 5;
}

.pdfjs-annotation__embed img:hover {
  transform: scale(1.1);
}

.pdfjs-embed-resource__popup {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
}

.pdfjs-embed-resource__popup-header {
  display: flex;
  align-items: center;
  margin: 5px;
}
