::ng-deep .pdf-document {
  .p-inputtext.p-chips-multiple-container {
    width: 100%;
  }

  .p-selectbutton>.p-button {
    padding: 0.125rem 0.25rem;
    font-size: 0.85rem;
  }
}

.howto-key-comb {
  background-color: lightgray;
  color: black;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  font-style: italic;
}