<div class="pdf-document-link">
  <div class="flex items-center gap-2 mb-4">
    <input type="text" pInputText [(ngModel)]="filter" placeholder="Filter ..." class="p-inputtext-sm flex-grow">
    <button pButton type="button" label="Create Link" icon="pi pi-share-alt" class="p-button-sm" (click)="create()">
    </button>
  </div>

  <div class="border overflow-y-auto" style="height: 50vh">
    <div *ngIf="pdfLinks.length < 1" class="w-full text-center my-2">
      <span class="text-sm text-gray-400">empty list</span>
    </div>
    <form *ngFor="let pdfLink of filteredPdfLinks(); let i = index" #form="ngForm" (ngSubmit)="update(form, pdfLink)"
      class="flex flex-col relative p-2 pdf-document-link__link" [ngClass]="{ 'bg-gray-100': i % 2 == 0 }">
      <span class="flex items-center cursor-pointer absolute top-2 right-2 pi" [ngClass]="{ 
        'pi-chevron-up': tt[pdfLink.id], 
        'pi-chevron-down': !tt[pdfLink.id] 
      }" (click)="tt[pdfLink.id] = !tt[pdfLink.id]">
      </span>

      <span class="text-gray-400" style="font-size: 0.65rem">
        {{ pdfLink.created_at | date:'long' }}
      </span>
      <div class="text-xs flex items-center gap-2" [ngClass]="{ 
        'text-gray-400': !pdfLink.delegated && !pdfLink.published,
        'text-blue-700': !pdfLink.delegated && pdfLink.published
      } ">
        <span class="underline text-sm">{{ getURL(pdfLink.id) }}</span>
        <span *ngIf="isHttps" class="pi pi-copy" (click)="copyURL(pdfLink.id)"></span>
        <span *ngIf="copyToast?.id == pdfLink.id" class="text-xs">
          {{ copyToast?.message }}
        </span>
        <a [href]="getURL(pdfLink.id)" target="_blank" class="pi pi-external-link" style="font-size: 0.75rem;"></a>
      </div>

      <div class="flex items-center">
        <div *ngIf="tt[pdfLink.id]" class="flex items-center gap-2 my-1">
          <label for="pdf-reader__delegated" class="font-bold">
            Delegate Configuration
          </label>
          <p-inputSwitch inputId="pdf-reader__delegated" [name]="'delegated' + i" [(ngModel)]="pdfLink.delegated"
            [title]="pdfLink.delegated ? 'manage' : 'delegate'" class="h-5" (onChange)="update(form, pdfLink, true)">
          </p-inputSwitch>
        </div>

        <span class="flex-grow"></span>

        <div *ngIf="!pdfLink.delegated && tt[pdfLink.id]" class="flex items-center gap-2 my-1">
          <label for="pdf-reader__published" class="font-bold">
            Publish
          </label>
          <p-inputSwitch inputId="pdf-reader__published" [name]="'published' + i" [(ngModel)]="pdfLink.published"
            [title]="pdfLink.published ? 'unpublish' : 'publish'" class="h-5" (onChange)="update(form, pdfLink, true)">
          </p-inputSwitch>
        </div>
      </div>

      <ng-container *ngIf="pdfLink.delegated">
        <ng-container *ngIf="!tt[pdfLink.id]">
          <span class="text-xs">
            <span>Delegated to: </span>
            <span class="underline">{{ pdfLink.delegated_to_url || 'empty' }}</span>
          </span>
        </ng-container>
        <ng-container *ngIf="tt[pdfLink.id]">
          <input type="text" pInputText [name]="'delegated_to_url' + i" [(ngModel)]="pdfLink.delegated_to_url"
            placeholder="Delegation URL" class="delegation-url-input" (change)="update(form, pdfLink, true)">
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!pdfLink.delegated">
        <ng-container *ngIf="!tt[pdfLink.id]">
          <span class="font-bold" [ngClass]="{ 'text-gray-400': !pdfLink.published }">
            {{ pdfLink.title || 'Empty Title' }}
            {{ pdfLink.archived ? '[archived]' : '' }}
          </span>
        </ng-container>

        <ng-container *ngIf="tt[pdfLink.id]">
          <input type="text" pInputText [name]="'title' + i" [(ngModel)]="pdfLink.title" placeholder="Title"
            class="title-input">

          <span *ngIf="!tt['advance_mode']" class="my-1"></span>
          <json-editor *ngIf="tt['advance_mode']" [options]="getJSONEditorOpts(pdfLink)" [data]="pdfLink.configs || {}"
            class="my-2 pdf-reader__config-editor" (change)="configUpdated(pdfLink, $event)"></json-editor>

          <div class="flex items-center gap-2">
            <button pButton type="button" [label]="pdfLink.archived ? 'Unarchive' : 'Archive'" icon="pi pi-database"
              class="p-button-sm p-button-secondary" (click)="archive(form, pdfLink)">
            </button>

            <span class="flex-grow"></span>

            <button pButton type="button" label="Cancel" icon="pi pi-chevron-left"
              class="p-button-sm p-button-text p-button-secondary" (click)="tt[pdfLink.id] = false">
            </button>
            <button pButton type="submit" label="Update" icon="pi pi-check" class="p-button-sm"
              [disabled]="form.invalid">
            </button>
          </div>
        </ng-container>
      </ng-container>
    </form>
  </div>

  <div class="flex items-center gap-2 mt-2 -mb-3">
    <button pButton type="button" label="Extract Texts" icon="pi pi-box" class="p-button-sm p-button-help"
      (click)="locateTexts.emit()">
    </button>

    <button pButton type="button" [label]="archived ? 'Include Archives' : 'Exclude Archives'"
      class="p-button-sm p-button-secondary" [ngClass]="{ 'p-button-outlined': !archived }"
      (click)="archived = !archived">
    </button>

    <span class="flex-grow"></span>

    <button pButton type="button" [label]="tt['advance_mode'] ? 'Advanced Mode' : 'Basic Mode'"
      class="p-button-sm p-button-secondary" [ngClass]="{ 'p-button-outlined': !tt['advance_mode'] }"
      (click)="tt['advance_mode'] = !tt['advance_mode']">
    </button>
  </div>
</div>