<form #form="ngForm" (ngSubmit)="update()" class="h-full flex justify-center items-center">
  <div class="flex flex-col -mt-32 gap-2" [ngClass]="{ 'w-96': expired, 'w-80': !expired }">
    <ng-container *ngIf="expired">
      <span class="text-center text-red-600 text-2xl">Oops!</span>
      <span class="text-center">Password update token expired!</span>
      <span class="text-center text-xs">Contact administrator to request a new one.</span>
    </ng-container>
    <ng-container *ngIf="!expired">
      <img src="/assets/logo.png" class="w-24 mx-auto" />
      <h3 class="text-2xl text-center">PDF Documents</h3>

      <h3 class="text-xl text-center text-gray-500 mb-2">Update Password</h3>

      <input *ngIf="isLoggedIn" name="current_password" type="password" pInputText type="password"
        [(ngModel)]="model.current_password" placeholder="Current Password" required minlength="6" />

      <input name="password" type="password" pInputText type="password" [(ngModel)]="model.new_password"
        placeholder="New Password" required minlength="6" />
      <input name="pass_confirm" type="password" pInputText type="password" [(ngModel)]="pass_confirm"
        placeholder="Confirm Password" required />

      <button type="submit" pButton label="Update"
        [disabled]="!form.valid || expired || model.new_password != pass_confirm"></button>
    </ng-container>
  </div>
</form>